.info-con-lock {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 35;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  .info-con-lock1::-webkit-scrollbar{
    display: none;
  }